@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.v-application {
  font-family: 'Patrick Hand', cursive;
}

.title-design{
  font-size: xxx-large;
  padding: 30px;
}

.title-design-2{
  font-size: xxx-large;
}

.default-text-size{
  font-size: 20px;
}

.text-color-link{
  color: #26A69A;
}

.custom-tab-items {
  background-color: transparent !important;
}

.list-contents-center {
  align-items: center;
}

